body{
margin: 0;
display: block;

}

h1{
	color: rgb(255, 255, 255);
	font-size: 3rem;
	text-align: center;
	z-index: 1;
	position: relative;
	bottom: -250px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

canvas{
display: block;

}